* {
  margin: 0;
  padding: 0;


}
.top-rip {
  position: fixed;

}
.bottom-rip {
  position: fixed;
  text-align: center;
  
}

body {
  background-image: url('../images/concrete-wall.png');

}

style {
    opacity: 0.5;
  }
